@import 'mixins.less';

// 4 columns of shots
header.page div.wrapper, aside.page div.wrapper, section.shots { width: 1316px; }
section.shots ul.list { width: 864px; }

// 3 columns of shots
@media (max-width: 1356px) {
   header.page div.wrapper, aside.page div.wrapper, section.shots { width: 1100px; }
   section.shots ul.list { width: 648px; }
}

// 2 columns of shots
@media (max-width: 1138px) {
   header.page div.wrapper, aside.page div.wrapper, section.shots { width: 884px; }
   section.shots ul.list { width: 432px; }
}

// 1 column of shots
@media (max-width: 924px) {
   header.page div.wrapper, aside.page div.wrapper, section.shots { width: 668px; }
   section.shots ul.list { width: 216px; }
}

html
{
   
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 100%;

   color: #999;
   background: #333A41 url('images/list-bg.png');
   height: 100%;
   
   overflow: scroll;
}

body
{
   margin-top: 50px;
   padding: 20px;
}

header.page
{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
   
   .background-gradient(rgba(68, 76, 85, 0.9), rgba(51, 58, 65, 0.9));
   .box-shadow(5px, 0, 5px, 0.5);
   
   div.wrapper
   {
      // Width is responsive.
      margin: 0 auto;
      
      // Animate width changes
      transition: width .2s ease-in-out; 
      -o-transition: width .2s ease-in-out; 
      -moz-transition: width .2s ease-in-out; 
      -webkit-transition: width .2s ease-in-out;
   }
   
   h1
   {
      text-indent: -10000px;
      overflow: hidden;
      display: inline-block;
      width: 115px;
      height: 30px;
      margin: 10px 10px 10px 0;
      
      background: url('images/courrrt.png') no-repeat;
      opacity: 0.8;
   }
   
   div.loading
   {
      width: 16px;
      height: 16px;
      margin: 5px 10px 0 0;
      opacity: 0.5;
      
      display: inline-block;
      vertical-align: middle;
      
      background: url('images/loading.gif') no-repeat;
   }
   
   nav
   {
      float: right;
      margin: 15px 0 0 10px;
      
      li
      {
         display: inline-block;
         padding: 3px 10px;
         .border-radius(12px);
         
         cursor: pointer;
         
         &:hover
         {
            text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
            color: #bbb;
         }
         
         &.selected
         {
            background-color: #6A737C;
            text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
            color: #bbb;
         }
      }
   }
}

aside.page
{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   
   div.wrapper
   {
      // Width is responsive.
      margin: 0 auto;
      height: 100%;
      
      div.content-container
      {
         float: right;
         height: 100%;
         width: 440px;
         
         color: #fff;
         background-color: rgba(255, 255, 255, 0.1);
         
         div.container
         {
            margin: 70px 20px 20px 20px;
         }
      }
   }
}

section.shots
{
   // Width is responsive.
   margin: 0 auto;
   overflow: hidden;
   
   ul.list
   {
      // Width is responsive.
      
      li 
      {
         float: left;
         cursor: pointer;
         overflow: hidden;
         
         margin: 0 8px 30px 8px;
         width: 200px;
         height: 150px;
         
         background-color: rgba(255, 255, 255, 0.2);
         .box-shadow(2px, 2px, 2px, 0.4);
         .border-radius(7px);
      }
   }
   
   &:after
   {
      content: "";
      height: 0;
      display: block;
      clear: both;
   }
}